*{
    margin: 0;
    padding: 0;
     
}
/* common  */
body{
   margin:0px auto;
   
   max-width: 1600px;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: white;
  background-color: #1A0B2E;

}
@keyframes anim{
    0%{transform: rotate(0deg);}
    
    100%{transform: rotate(360deg);}
}
.ham{
    display: none;
}
.linear-text{
    background: linear-gradient( to top right, #F7E93F,#FB09B4,#9100F8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.linear{
    background: linear-gradient( to top right, #F7E93F,#FB09B4,#9100F8);

}
.ex-bold{
    font-weight: 800;
}
.font-48,.s1-t h3{
    font-size:3rem;
}
.bold{
    font-weight: 700;
}
.semi-bold{
    font-weight: 600;
}
.white{
    color: white;
}
ul{
    display: flex;
    gap:32px;
    
}
.nav-container{
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.btn1:hover{
    cursor: pointer;
}
.btn2:hover{
    cursor: pointer;
}
.btn3:hover{
    cursor: pointer;
}
.clr:hover{
    cursor: pointer;
}


/* specific class */
.btn1{
    padding: 12px 16px;
    width:135px;
border-radius: 10000px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
}
.img-top{
 box-sizing: border-box;
    background: linear-gradient( to top right, #ffea00,#FB09B4,#9100F8);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border:5px solid #2A186C;
    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;
}
.banner{
    max-width: 1600px;
    width: 100%;

    background-image: url('./hero-bg.png');
    height: 760px;
    background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
}
.ban-text h3{
margin-top: 20px;
}
.micro{
    animation: anim 3s ease-in-out 0s infinite alternate ;
}
.ban-text{
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.btn-c{
    display: flex;
    gap:10px;
    
}
/* Badge */
.badge{
  
    border-radius: 10000px;
    background-color: #00FF88;
    color: black;
      padding: 8px 16px;
    top:4px;
    font-size: 1rem;
    font-weight: 700;
    left:250px;
    max-width: 75px;
    text-align: center;


    position: absolute;

}
.btn2{

    /* display: flex; */
     margin-left: 8px;
    color: white;
    background: linear-gradient( to top right, #F7E93F,#FB09B4,#9100F8);
border-radius: 10000px;
/* text-align: center;
align-items: center;
justify-content: center; */
padding: 12px 20px;
height: 44px;

}
.b-2{
    display: flex;
    gap:8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn3{
    color:#00FF88;
    box-sizing: border-box;
    display: flex;
     background: #1A0B2E;
    height: 44px;
    border-radius: 10000px;
padding: 12px 20px;
border: 2px solid #00FF88;
}
.btn3 h3{
    margin-bottom: 8px;
}
.s1-bc h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 800;

}
.s1-t{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.s1-t h3{
    margin-bottom: 16px;
    margin-top: 50px;
}
.s1-bc{
    margin :0 auto;
    display: flex;
    gap: 80px;
    max-width: 1200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 160px;
}
.bc1{
    display: flex;
    gap: 80px;
}
.bc2{
    display: flex;
    gap: 80px;
}
.s2{
     max-width: 1600px;
     margin-top: 80px;
}
.s2-h{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
    padding-top: 50px;
    
}
.s2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.s2-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:32px;
    padding: 20px;
   
}
.clr h3{
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 800;
}
.clr img{
    margin-bottom: 16px;
}
.clr{
    
    background-color: #2c116573;
}

.s2-cd1{
    grid-row: span 2;
   border:none;
    border-radius: 40px;
    padding: 110px 40px;
}
.s2-cd2{
    grid-column: span 2;
    padding: 40px;
    border:none;
    border-radius: 40px;
}
.s2-cd3{
    grid-column: span 2;
    padding: 40px;
    border:none;
    border-radius: 40px;
}
.s2-cd4{
    
    padding: 40px;
    grid-column: span 2;
    border:none;
    border-radius: 40px;
}
.s2-cd5{
    padding: 40px;
    border:none;
    border-radius: 40px;

}
.s3-h{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 120px;
    margin-bottom: 40px;
   
}
.vdo{
      margin: 0 auto;
     display: flex;
  flex-wrap: wrap;
    gap:30px;
     max-width:1200px;
   
    /* justify-content: center;
    align-items: center; */
}
.card{
  
     max-width: 380px;
    background-color: #250D44; 
    border-radius: 24px;
    text-align: left;
    overflow: hidden;

}
.card h3{
    font-size: 1.25rem;
    font-weight:600;
    margin-top: 16px;
margin-left: 24px;
}
.card p{
    margin-top: 15px;
    margin-left: 24px;
}
.time-text{
    color:#00FF88;
}
.v11,.v12,.v13{
     max-width: 380px;
    background-color: #250D44; 
    border-radius: 24px 24px 24px 24px;
    
    overflow: hidden;
}
.time{
    margin: 12px auto 24px 24px;
    display: flex;
    gap:10px;
}
.bonus{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
   
}
.bo-container{
    border-radius: 30px;
    max-width: 1200px;
    background-color: #250D44; 
    display: flex;
    height: auto;
    margin-bottom: 120px;
    
}
.bo-head{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding-top:120px;
    margin-bottom: 35px;
}
.bo-img{
    max-height: 200px;
    max-width: 200px;
    width: 100%;
    margin:40px 24px;
}
.bo-info h3{
    font-size: 2rem;
    font-family:bold;
    margin-bottom: 20px;
}
.bo-info p{
 margin-bottom: 20px;
}
.bo-info{
    max-width: 900px;
    margin: 48px 40px 48px 0px;
}
.ex-logo{
display: flex;
gap:8px;

}

.bo-logo{
display: flex;
gap:8px;
}
.logo1,.logo2,.logo3,.logo4{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #533C72;
box-sizing: border-box;
width: 40px;
height: 40px;
border-radius: 50%;
}

.footer-container{
     background-image: url('./footer-bg.png');
    height: 412px;
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 32px;
   
}
.f-head2{
    font-size: 4rem;
}

.footer-logo{
    align-items: center;
    justify-content: center;
    text-align: center;
display: flex;
    gap:40px;
}
.footer-logo1,.footer-logo2,.footer-logo3,.footer-logo4{
    display: flex;
    gap: 10px;
    width: auto;
}
@media screen and (max-width:576px){
    .nav2,.nav3{
        display: none;
    }
    nav{
        max-width: 500px;
    }
    .ham{
        display: inline;
    }
    .micro{
        display: block;
max-width: 150px;

max-height: 150px;
    }
    
    .s1-bc{
        display: flex;
        flex-direction: column;
    }
    .s1-p{
        padding:10px;
    }
    .s2-h,.s3-h,.bo-h{
        font-size: 2rem;
        
    }
    .s2-card,.bo-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .vdo{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
        max-width:385px ;
        /* border: 2px solid red; */
    }
    .bo-container{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .bo-logo{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .footer-logo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .grp3{
        font-size: 0.75rem;
    }
    
}
@media screen and (min-width:992px) and (max-width:1200px){
    nav{
        max-width: 750px;
        margin: 0 auto;
    }
    .s1-para{
        max-width: 750px;
    }
     .vdo{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
        max-width:385px ;
        /* border: 2px solid red; */
    }
    .bo-container{
max-width: 850px;
margin: 0 auto;
margin-bottom: 50px;
    }
}